@model PresentationLayer2.Models.ReservationViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ReservationViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeslotID" class="control-label"></label>
                <input asp-for="TimeslotID" class="form-control" />
                <span asp-validation-for="TimeslotID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgramID" class="control-label"></label>
                <input asp-for="ProgramID" class="form-control" />
                <span asp-validation-for="ProgramID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Currentreservation" class="control-label"></label>
                <input asp-for="Currentreservation" class="form-control" />
                <span asp-validation-for="Currentreservation" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
